<tr>
  <td><img class="avatar img-rounded" src="<%= patient['patient_photo'] %>"/></td>
  <td><%= link_to "#{patient["first_name"]} #{patient["last_name"]}", patient_path(patient["id"]), class: "btn" %></td>
  <td><%= patient['date_of_last_appointment'] %></td>
</tr>
