<%= render partial: "patient_form", locals: {method: :post, patient: {}} %>

<table>
  <th>Avatar</th>
  <th>Chart ID</th>
  <th>Name</th>
  <th>D.O.B.</th>
  <th>Gender</th>
  <th>Last Appt.</th>
  <th>Next Appt.</th>
  <% @patients.each do |patient| %>
    <%= render partial: 'patient', locals: {patient: patient} %>
  <% end %>
</table>
