<div class="row ta-c">
  <a href="#newPatient" data-toggle="modal" class="btn btn-default">New Patient &#43;</a>
</div>

<hr />

<div class="row">
  <div class="table-responsive col-sm-8 col-lg-8 col-sm-offset-2 col-lg-offset-2">
    <table class="table table-hover">
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Last Appt.</th>
      </tr>
      <% @patients.each do |patient| %>
        <%= render partial: 'patient', locals: {patient: patient} %>
      <% end %>
    </table>
  </div>


  <div class="modal fade" id="newPatient" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>New Patient Form</h4>
        </div>
        <div class="modal-body">
          <%= render partial: "photo_form", locals: {patient: {}} %>
          <%= render partial: "patient_form", locals: {patient: {}, method: :post} %>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" id="advancedFormBtn">Advanced Form</a>
          <a href="#" class="btn btn-default" id="basicFormBtn" style="display: none;">Basic Form</a>
          <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
