<% patient_names = @patients.map {|patient| "#{patient['first_name']} #{patient['last_name']}"} %>

<%= render partial: "appointment_form",
  locals: {offices: @office_data, patient: nil, names: patient_names} %>

<table>
  <% @appointments.each do |appointment| %>
    <tr>
      <th>Photo</th>
      <th>Patient</th>
      <th>Reason</th>
      <th>When</th>
      <th>Duration</th>
      <th>Office</th>
      <th>Room</th>
    </tr>
    <tr>
      <td><img src="<%= appointment["patient_info"]["patient_photo"] %>" class="avatar" /></td>
      <td><%= appointment["patient_info"]["first_name"] %></td>
      <%= render partial: 'appointment',
        locals: {appointment: appointment, patient: appointment["patient_info"]} %>
    </tr>
  <% end %>
</table>
